html, body{
	width   : 100%;
	margin  : 0;
	padding : 0;
}

h2{
	font-size   : 28px;
}

body{
	background  : #10161d url('img/dot_grid.png');
	font-family : 'blender_prothin';
	font-size   : 12px;
	color       : #58bccc;
	line-height : 20px;
	text-align : center;
}

.finger{
	align: center;
	height : 40px;
	width   : 100%;
	font-size   : 60px;
	background  : #10161d url('img/dot_grid.png');
	font-family : 'blender_prothin';
	text-align : center;
	border-style: solid;
    border-width: 2px;
    padding : 20;
    border-color: #427F78;
}

.emgGraph{
	display : inline-block;
	height  : 100px;
	width   : 500px;
}

#min_button{
    border:solid 1px;
    width: 25px;
    height: 25px;
    float:right;
    cursor:pointer;
}

#fin_button{
    border:solid 1px;
    width: 25px;
    height: 25px;
    float:right;
    cursor:pointer;
}

#piano_button{
    border:solid 1px;
    width: 25px;
    height: 25px;
    float:right;
    cursor:pointer;
}

#about_button{
    border:solid 1px;
    width: 25px;
    height: 25px;
    float:right;
    cursor:pointer;
}
#title_bar{
    height: 30px;
    width: 100%;
}

#about_box{
	padding : 45;
}

#graph_box{
	padding : 45;
}

#finger_box{
	padding : 45;
}

#piano_box{
	padding : 45;
}

.fingers{
	padding : 10;
	padding-top : 40;
}

.emgGraphs{
	padding : 10;
	padding-top : 40;
}

.piano{
	padding : 10;
	padding-top : 40;
}

.about{
	padding : 10;
	padding-top : 40;
}

#nav {
	background-color: #58bccc;
    top: 0px;
    margin-top: -9px;
    position: fixed;
    width: 100%;
    z-index: 1000; 
}

#nav ul {
    list-style:none;
    background-color: #58bccc;
}

#nav ul li {
    display:inline-block;
    line-height:24px;
}

#nav ul li a {
    margin:100px;
    color:#FFF;
    padding:4px;
    font-size:20px;
    text-decoration:none;
}

#nav ul li a:hover {
    border-bottom:3px #FFF solid;
}

#nav ul li .active {
    border-bottom:3px #FFF solid;
}