
html, body{
	width   : 100%;
	margin  : 0;
	padding : 0;
}

body{
	background  : #10161d url('img/dot_grid.png');
	font-family : 'blender_prothin';
	font-size   : 12px;
	color       : #58bccc;
	line-height : 20px;
}

body{
	text-align : center;
}

.finger{
	align: center;
	height : 40px;
	width   : 100%;
	font-size   : 60px;
	background  : #10161d url('img/dot_grid.png');
	font-family : 'blender_prothin';
	text-align : center;
	border-style: solid;
    border-width: 2px;
    padding : 20;
    border-color: #427F78;
}

.emgGraph{
	display : inline-block;
	height  : 100px;
	width   : 500px;
}

#min_button{
    border:solid 1px;
    width: 25px;
    height: 25px;
    float:right;
    cursor:pointer;
}

#fin_button{
    border:solid 1px;
    width: 25px;
    height: 25px;
    float:right;
    cursor:pointer;
}

#piano_button{
    border:solid 1px;
    width: 25px;
    height: 25px;
    float:right;
    cursor:pointer;
}

#title_bar{
    height: 30px;
    width: 100%;
}

#box{
	padding : 25;
}

#finger_box{
	padding : 45;
}

#piano_box{
	padding : 45;
}

.fingers{
	padding : 20;
}

.emgGraphs{
	padding : 20;
}

.piano{
	padding : 20;
}
