.keyboard {
  width: 80rem;
  align: center;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}

.key {
  display: inline-block;
  position: relative;
  width: 9.111%; /*11.111*/
  padding-bottom: 35%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  background: ivory;
  vertical-align: top;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  color: rgba(255, 255, 255, 0.3);
}

.key:after {
  display: block;
  font-family: "Open Sans Condensed";
  color: 427F78;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  content: attr(data-note);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.keybind .key:after {
  content: attr(data-bind);
}
.key:hover {
  background: #e6e6d8;
  -webkit-transition: .2s;
  transition: .2s;
}

.key.active {
  background: #111;
}

.key:focus {
  outline: 0;
}

[data-note*="#"] {
  position: absolute;
  z-index: 100;
  width: 12.5%;
  background: #111;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: translateX(-50%) scale(0.6);
          transform: translateX(-50%) scale(0.6);
  border-radius: 0 0 8px 8px;
}

[data-note*="#"]:after {
  font-size: 2.5rem;
  top: inherit;
  bottom: 100%;
}

[data-note*="#"]:hover {
  background: #333333;
}

[data-note*="#"].active {
  background: #FFF;
}

@-webkit-keyframes whites {
  from {
    background: #595959;
    color: ivory;
    text-shadow: 0 0 1rem, 0 0 2rem, 0 0 3rem;
  }
}

@keyframes whites {
  from {
    background: #595959;
    color: ivory;
    text-shadow: 0 0 1rem, 0 0 2rem, 0 0 3rem;
  }
}

@-webkit-keyframes blacks {
  from {
    background: #595959;
    color: ivory;
    text-shadow: 0 0 1rem, 0 0 2rem, 0 0 3rem;
  }
}

@keyframes blacks {
  from {
    background: #595959;
    color: ivory;
    text-shadow: 0 0 1rem, 0 0 2rem, 0 0 3rem;
  }
}

.move {
  background: #e6e6d8;
  -webkit-transition: .2s;
  transition: .2s;
}

[data-note*="#"].move {
  background: #333333;
}